/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: "Rubik",sans-serif !important;
    font-weight: 300;
}
header h1{
    font-weight: 400;
    letter-spacing: 1px;
}
#statscard{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#budgetmodal{
    backdrop-filter: blur(3px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgba(0, 0, 0, 0.5);
    animation: modalShow .5s ease-in forwards;
}
#budgetList{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#expenseform{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#barchart{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#piechart{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@keyframes modalShow {
    0%{
     opacity: 0;
     transform: translateY(-10px);
    }
    100%{
    opacity: 1;
    transform: translateY(0px); 
    }
}